NODE_ENV=development
PORT=3000
DATABASE_URL=

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=1234
DB_NAME=stock_api
DB_SYNC=true

JWT_SECRET=replace_with_a_secure_secret
JWT_EXPIRES_IN=1d

ALPHA_VANTAGE_API_KEY=SKC2X6H1WBGY71O8
ALPHA_VANTAGE_SYMBOL=AAPL
ALPHA_VANTAGE_OUTPUT_SIZE=compact

AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=https;AccountName=your_account;AccountKey=your_key;EndpointSuffix=core.windows.net
AZURE_STORAGE_CONTAINER_NAME=uploads
AZURE_STORAGE_SAS_EXPIRES_MINUTES=30
